body {
    width: 75%;
    margin: 0px auto; 

    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    height: 100px;
    width: 75%;
    margin: 0px auto;
    /* margin-bottom: 200px;  */
    position: fixed;
    z-index: 100;
}

header > nav {
    height: 100%;
}

main {
    flex: 1 0 auto;
}

main h1 {
    font-weight: bold;
}

 main h2 {
    font-weight: 300;
}

#logo-icon {
    margin-left: 50px;
    margin-top: 20px;
}

#logo {
    margin-left: 50px;
    margin-top: 20px;
}

#head-nav-links {
    margin-right: 50px;
    margin-top: 20px;
}

.mainpanel{
    margin: 150px 50px 50px 50px;
}

#mainpanel-content {
    margin: 50px;
}

.zindex-100 {
    z-index: 100;
}
.zindex-101 {
    z-index: 101;
}

.zindex-10 {
    z-index: 10;
}

.container2 {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
  }

.btn-marg-1_2 {
    margin: 1.2em;
}